[submodule ".vim/pack/git-plugins/start/fzf.vim"]
	path = .local/share/nvim/site/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".config/nvim/pack/nvim-lspconfig"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-lsp-installer"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-lsp-installer
	url = https://github.com/williamboman/nvim-lsp-installer
[submodule ".local/share/nvim/site/pack/plugins/start/coq_nvim"]
	path = .local/share/nvim/site/pack/plugins/start/coq_nvim
	url = https://github.com/ms-jpq/coq_nvim
[submodule ".local/share/nvim/site/pack/plugins/start/gitsigns.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
