[submodule ".local/share/nvim/site/pack/plugins/start/gitsigns.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
	branch = main
[submodule ".local/share/nvim/site/pack/plugins/start/mason-lspconfig.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim
	branch = main
[submodule ".local/share/nvim/site/pack/plugins/start/mason.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim
	branch = main
[submodule ".config/nvim/pack/nvim-lspconfig"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-cmp"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
	branch = main
[submodule ".local/share/nvim/site/pack/plugins/start/cmp-buffer"]
	path = .local/share/nvim/site/pack/plugins/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
	branch = main
[submodule ".local/share/nvim/site/pack/plugins/start/cmp-path"]
	path = .local/share/nvim/site/pack/plugins/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
	branch = main
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-treesitter"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-colorizer.lua"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule ".local/share/nvim/site/pack/plugins/start/tokyonight.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
[submodule ".local/share/nvim/site/pack/plugins/start/plenary.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule ".local/share/nvim/site/pack/plugins/start/telescope.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule ".local/share/nvim/site/pack/plugins/start/conform.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/conform.nvim
	url = https://github.com/stevearc/conform.nvim
