/*
!.config
.config/*
!.config/alacritty
!.config/compton.conf
!.config/coc
!.config/i3
!.config/nvim
!.config/nvim/lua
.config/nvim/.luarc.json
!.local/share/nvim/site/pack/plugins/start
!.gitignore
!.profile
!.zshrc
!.xinitrc
!.Xmodmap
